body {
	background-color: #4286f4;
}

a {
	color: white;
	text-decoration: none;
	font-family: Arial, sans-serif;
}

a:hover {
	color: white;
	text-decoration: none;
}

h1 {
	color: white;
	text-align: left;
}

p {
	font-size: 20px;
	font-family: "Roboto Condensed", sans-serif;
	color: white;
}

form {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	position: relative;
}

svg {
	position: absolute;
	border: none;
	right: 50%;
	transition: 0.7s;
	visibility: hidden;
	opacity: 0;
}

.monsterHead {
	box-sizing: border-box;
	margin: 0 auto;
	width: 300px;
	height: 150px;
	border: 5px solid #fff;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-top: 50px;
}

.monsterEye {
	text-align: center;
	position: relative;
	width: 30px;
	height: 30px;
	border: 5px solid #fff;
	border-radius: 50%;
	color: #000;
	font-size: 30px;
	background-color: #fff;
}

#ball1 {
	position: absolute;
	left: 10px;
	transition: 0.2s;
}

#ball2 {
	position: absolute;
	left: 10px;
	transition: 0.2s;
}

.centralbox {
	margin: 200px auto;
	width: 50%;
	font-size: 15px;
	transition: 0.7s;
	text-align: center;
}

.textField {
	color: white;
	width: 35px;
	height: 35px;
	margin-right: 5px;
	background: #4286f4;
	background-image: url(http://www.clker.com/cliparts/v/C/2/9/I/6/search-icon-white-hi.png);
	background-size: 25px 25px;
	background-position: 6px 5px;
	background-repeat: no-repeat;
	padding-left: 25px;
	border: none;
	transition: 0.7s;
}

.afterFocus {
	width: 200px;
	height: 25px;
	outline-width: 0;
	border-radius: 15px;
	border: solid 1px white;
	background-size: 15px 15px;
	border-right: none;
}

.generatedBlocks {
	width: 40%;
	padding: 7px;
	margin: 5px;
	border: solid 1px white;
}

.generatedBlocks:hover {
	border: 1px solid orange;
	background-color: rgba(124, 173, 251, 0.8);
}

.generatedText {
	text-align: left;
	max-height: 250px;
}

#generatedContent {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
}

.errorMsg {
	position: absolute;
	z-index: -1;
	top: 45px;
	left: 50%;
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 12px;
	transition: 0.4s;
	opacity: 0;
}

.errorMsgDisplayed {
	transform: translateX(-50%);
	transition: 0.9s;
	opacity: 1;
}

.movedUp {
	margin: 0 auto;
}

.loaded {
	margin: 0 auto;
}

.visible {
	visibility: visible;
	transition: 0.7s;
	transform: translateX(99px);
	opacity: 1;
}
